# Pastas de dados e resultados
results/
results/csshred/
results/shred/
results/*/
Data/
data/

# Arquivos de dados
*.npy
*.npz
*.mat
*.json
*.pth

# Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual
lpips-env/
venv/
env/
bin/
lib/
lib64/
share/
pyvenv.cfg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
